.test {
    width: 500px;
    height: 400px;
    background-size: cover;
    position: relative;
    background-image: url("https://download.unsplash.com/photo-1428604467652-115d9d71a7f1");
}

.test p {
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    display: inline;
    padding: 10px;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    width: 440px;
    position: absolute;
    top: 120px;
    left: 20px;
}